In [1]:
import pandas as pd 
import numpy as np
import sqlite3
import itertools

In [62]:
def null_deger(veri):
    data = veri.isnull().sum()
    for i in data.keys():
        if data[i] != 0:
            print(str(i)+" : "+str(data[i]))

    print(veri.shape)

In [3]:
def null_deger2(veri):
    
    sil = veri[veri["B365H"].notnull()]
    
    kaydet(sil,"bitiyor")
    
    print(veri.shape)

In [29]:
def bosluklari_sil(a,sayi):
    aa = a.T
    b = aa.isnull().sum()    
    a = aa.drop(columns = [i for i in b.keys() if b[i] > sayi],axis = 1)
    aa = a.T
    return aa

In [5]:
def kaydet(a,name):
    a.to_excel(name+".xlsx",index=False)

In [6]:
adres = "sqlite_baslangic.xlsx"

df = pd.read_excel(adres,index_col=0, error_bad_lines=False)

# veritabani_takimlistesi = pd.read_excel("Documents/bitti.xlsx",index_col=0, error_bad_lines=False)

null_deger2(df)

for i in df.columns:
    print(i)

(25979, 35)
season
home_team_api_id
away_team_api_id
home_team_goal
away_team_goal
B365H
B365D
B365A
BWH
BWD
BWA
IWH
IWD
IWA
LBH
LBD
LBA
PSH
PSD
PSA
WHH
WHD
WHA
SJH
SJD
SJA
VCH
VCD
VCA
GBH
GBD
GBA
BSH
BSD
BSA

In [7]:
df = pd.read_excel("bitiyor.xlsx",index_col=0, error_bad_lines=False)

In [20]:
bir = df[df["season"] == "2008/2009"]
iki = df[df["season"] == "2009/2010"]
uc = df[df["season"] == "2010/2011"]
dort = df[df["season"] == "2011/2012"]
bes = df[df["season"] == "2012/2013"]
alti = df[df["season"] == "2013/2014"]
yedi = df[df["season"] == "2014/2015"]
sekiz = df[df["season"] == "2015/2016"]

b = pd.concat([bir,iki,uc,dort,bes,alti,yedi,sekiz])

In [21]:
null_deger(b)

BWH : 20
BWD : 20
BWA : 20
IWH : 76
IWD : 76
IWA : 76
LBH : 39
LBD : 39
LBA : 39
PSH : 11425
PSD : 11425
PSA : 11425
WHH : 24
WHD : 24
WHA : 24
SJH : 5497
SJD : 5497
SJA : 5497
VCH : 26
VCD : 26
VCA : 26
GBH : 8432
GBD : 8432
GBA : 8432
BSH : 8432
BSD : 8432
BSA : 8432
(22592, 35)

In [22]:
kaydet(b,"birlestirme")

In [36]:
null_deger(bes)

BWH : 3
BWD : 3
BWA : 3
IWH : 5
IWD : 5
IWA : 5
LBH : 10
LBD : 10
LBA : 10
PSH : 42
PSD : 42
PSA : 42
WHH : 2
WHD : 2
WHA : 2
SJH : 3
SJD : 3
SJA : 3
VCH : 2
VCD : 2
VCA : 2
GBH : 14
GBD : 14
GBA : 14
BSH : 2
BSD : 2
BSA : 2
(2832, 35)

In [77]:
df = pd.read_excel("birlestirme.xlsx",index_col=0, error_bad_lines=False)

In [78]:
null_deger(df)

BWH : 20
BWD : 20
BWA : 20
IWH : 76
IWD : 76
IWA : 76
LBH : 39
LBD : 39
LBA : 39
WHH : 24
WHD : 24
WHA : 24
SJH : 5497
SJD : 5497
SJA : 5497
VCH : 26
VCD : 26
VCA : 26
GBH : 55
GBD : 55
GBA : 55
BSH : 8432
BSD : 8432
BSA : 8432
(22592, 31)

In [79]:
df=df.reset_index()
df.head()

,season,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,B365H,B365D,B365A,BWH,BWD,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,2008/2009,9987,9993,1,1,1.73,3.40,5.00,1.75,3.35,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2008/2009,10000,9994,0,0,1.95,3.20,3.60,1.80,3.30,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,2008/2009,9984,8635,0,3,2.38,3.30,2.75,2.40,3.30,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,2008/2009,9991,9998,5,0,1.44,3.75,7.50,1.40,4.00,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,2008/2009,7947,9985,1,3,5.00,3.50,1.65,5.00,3.50,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67

In [21]:
df = pd.read_excel("birlestirme2.xlsx",index_col=0, error_bad_lines=False)

In [12]:
print(df.shape)

(22592, 32)

In [10]:
null_deger(df)

BWH : 4
BWD : 4
BWA : 4
IWH : 6
IWD : 6
IWA : 6
LBH : 3
LBD : 3
LBA : 3
WHH : 3
WHD : 3
WHA : 3
SJH : 4
SJD : 4
SJA : 4
VCH : 6
VCD : 6
VCA : 6
GBH : 6
GBD : 6
GBA : 6
BSH : 6
BSD : 6
BSA : 6
(8, 32)

In [24]:
print(a.shape)

(32, 22584)

In [25]:
df = a.T

In [20]:
kaydet(df,"silindi")

In [26]:
null_deger(df)

BWH : 16
BWD : 16
BWA : 16
IWH : 70
IWD : 70
IWA : 70
LBH : 36
LBD : 36
LBA : 36
WHH : 21
WHD : 21
WHA : 21
SJH : 5493
SJD : 5493
SJA : 5493
VCH : 20
VCD : 20
VCA : 20
GBH : 49
GBD : 49
GBA : 49
BSH : 8426
BSD : 8426
BSA : 8426
(22584, 32)

In [35]:
zx = bosluklari_sil(df,6)

In [36]:
null_deger(zx)

BWH : 8
BWD : 8
BWA : 8
IWH : 47
IWD : 47
IWA : 47
LBH : 28
LBD : 28
LBA : 28
WHH : 19
WHD : 19
WHA : 19
SJH : 5432
SJD : 5432
SJA : 5432
VCH : 14
VCD : 14
VCA : 14
GBH : 27
GBD : 27
GBA : 27
BSH : 8370
BSD : 8370
BSA : 8370
(22522, 32)

In [32]:
kaydet(zx,"silindi2(son)")

In [43]:
zx = zx.drop(columns=["BSH","BSD","BSA"],axis=1)

In [40]:
null_deger(zx)

BWH : 8
BWD : 8
BWA : 8
IWH : 47
IWD : 47
IWA : 47
LBH : 28
LBD : 28
LBA : 28
WHH : 19
WHD : 19
WHA : 19
SJH : 5432
SJD : 5432
SJA : 5432
VCH : 14
VCD : 14
VCA : 14
GBH : 27
GBD : 27
GBA : 27
(22522, 29)

In [44]:
zx = bosluklari_sil(zx,5)

In [45]:
null_deger(zx)

BWH : 1
BWD : 1
BWA : 1
IWH : 44
IWD : 44
IWA : 44
LBH : 25
LBD : 25
LBA : 25
WHH : 17
WHD : 17
WHA : 17
SJH : 5430
SJD : 5430
SJA : 5430
VCH : 13
VCD : 13
VCA : 13
GBH : 21
GBD : 21
GBA : 21
(22510, 29)

In [46]:
kaydet(zx,"silindi2(BSHsız)")

In [52]:
adres = "silindi2(BSHsız).xlsx"

df = pd.read_excel(adres,index_col=0, error_bad_lines=False)

for i in df.columns:
    print(i)

id
season
home_team_api_id
away_team_api_id
home_team_goal
away_team_goal
B365H
B365D
B365A
BWH
BWD
BWA
IWH
IWD
IWA
LBH
LBD
LBA
WHH
WHD
WHA
SJH
SJD
SJA
VCH
VCD
VCA
GBH
GBD
GBA

In [63]:
df = df.T
null_deger(df)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().